@import "https://fonts.googleapis.com/css2?family=Montserrat";

body{
  width: 90%;
  margin: 0 auto;
}

a[href] {
  color: #7703fc;
  background-color: Yellow;
  font-family: 'Montserrat';
  font-size: 18px;
}

button {
    margin: 6px;
}

.button-container {
    display: inline-flex;
    width: fit-content;
    background-color: DarkGray;
}

.main-button {
    background-color: DarkCyan;
    border: solid 0.1px #aaa;
}

.secondary-button {
    color: #555;
    background-color: #ee3e80;
    border: solid 0.1px #aaa;
}

.vertical {
    flex-direction: column;
}

li {display: inline;
  padding: 0.5em;
}

h1 {
  color: #ee3e80;
  font-family: Verdana
}

.head-text {
  color: Gray
}

h2 {
  color: Gray;
  font-family: Verdana
}

iframe {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#nav {
  text-align: center;
}


p {
  font-family: "Roboto";
  background-color: ghostwhite;}
